.enter_text {
    line-height: 1;
    font-size: 65px;
    font-family: 'inter';
    margin-top: 8rem;
    color: #ffffff;
    @media(max-width: $sm){
        display: none;
    }
    span {
        color: #FF8800;
    }
}

.enter_cards {
    background-color: #ffffff;
    border-radius: 39px;
    padding: 45px 45px;
    margin-top: 85px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .enter_tittle {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        @media(max-width: $sm){
            margin-bottom: 4em;
        }

        p {
            font-size: 18px;
            font-family: 'Nunito Sans';
            @media(max-width: $sm){
                text-align: center;
                font-size: 14px;
            }

            a {
                color: #FF8800;

                &:hover {
                    color: #a25600;
                }
            }
        }

        h5 {
            margin-bottom: 1rem;
            font-size: 32px;
            font-family: 'Nunito Sans';
            font-weight: 700;
            @media(max-width: $sm){
                font-size: 27px;
                margin-bottom: 0.2rem;
            }
        }

        .btn_enter_card {
            min-width: 18em;
            border-radius: 18px;
            background-color: #FF8800;
            display: flex;
            align-items: center;
            padding: 17px 17px;
            font-weight: 700;
            font-family: 'Nunito Sans';
            border: 2px solid black;

            svg {
                margin-right: 1rem;
            }
        }
    }

    .enter {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            padding: 0.5rem 1rem;
            width: 30rem;
            border-radius: 18px;
            font-size: 18px;
            @media(max-width: $sm){
                width: 15rem;
            }
        }

        .submit {
            border-radius: 18px;
            background-color: #FF8800;
            color: #ffffff;
            border: none;
            padding: 21px 86px;
            margin-bottom: 3rem;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Nunito Sans';
            @media(max-width: $sm){
                font-size: 18px;
                padding: 13px 80px;
            }

            &:hover {
                background-color: #a25600;
            }
        }

        .enter_enter {
            font-family: 'Nunito Sans';
            font-size: 18px;
            margin-bottom: 1rem;
            @media(max-width: $sm){
                font-size: 14px;
                margin-bottom: 1rem;
            }
            p{
                @media(max-width: $sm){
                    margin-bottom: 0;
                }
            }
        }
        .enter_password {
            font-size: 18px;
            margin-bottom: 6rem;
            font-family: 'Nunito Sans';
            @media(max-width: $sm){
                font-size: 14px;
                margin-bottom: 8rem;
            }
            p{
                @media(max-width: $sm){
                    margin-bottom: 0;
                }
            }

            .password {
                position: relative;
            }

            .password-control {
                position: absolute;
                top: 11px;
                right: 1rem;
                display: inline-block;
                width: 22px;
                height: 22px;
                background: url(/styles/img/eye.svg) 0 0 no-repeat;
            }
            .password-control.view {
                background: url(/styles/img/openEye.svg) 0 0 no-repeat;
            }
        }
        .enter_submit{
            margin-bottom: 2rem;
        }
        .line-box {
            a {
                color: #090909;
            }

            font-size: 12px;
            text-align: right;
        }
    }

    .enter_text_end {
        font-size: 12px;
        @media(max-width: $sm) {
            font-size: 9px;
            text-align: center;
        }

        a {
            color: #FF8800;

            &:hover {
                color: #a25600;
            }
        }
    }
}