* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/styles/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.design_text {
  line-height: 1;
  font-size: 65px;
  font-family: "inter";
  margin-top: 8rem;
  color: #ffffff;
}
@media (max-width: 576px) {
  .design_text {
    font-size: 40px;
    margin-top: 4rem;
  }
}
.design_text span {
  color: #FF8800;
}

.design_cards {
  background-color: #ffffff;
  border-radius: 39px;
  padding: 45px 45px;
  margin-top: 85px;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.design_cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 576px) {
  .design_cards .cards {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  .design_cards .cards .plus {
    display: none;
  }
}
.design_cards .design_tittle_cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  .design_cards .design_tittle_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.design_cards .design_tittle_cards h5 {
  margin-bottom: 1rem;
  font-size: 32px;
  font-family: "Nunito Sans";
  font-weight: 700;
}
.design_cards .design_tittle_cards .btn_design_card {
  min-width: 18em;
  border-radius: 18px;
  background-color: #FF8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 17px;
  font-weight: 700;
  font-family: "Nunito Sans";
  border: 2px solid black;
}
.design_cards .design_tittle_cards .btn_design_card:hover {
  background-color: #E87E04;
}
.design_cards .design_tittle_cards .btn_design_card svg {
  margin-right: 1rem;
}
.design_cards .card {
  min-height: 22rem;
  max-width: 25rem;
  background-color: #FF8800;
  border-radius: 29px;
  padding: 30px 20px;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.design_cards .card span {
  text-align: center;
}
.design_cards .card label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.design_cards .card .input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.design_cards .card .input-file svg {
  margin-right: 10px;
}
.design_cards .card .text_card {
  height: 18rem;
  background: #FF8800;
  border: 1px solid black;
}
.design_cards .card textarea {
  border: none;
  outline: none;
}

.repair_text {
  line-height: 1;
  font-size: 65px;
  font-family: "inter";
  margin-top: 8rem;
  color: #ffffff;
}
@media (max-width: 576px) {
  .repair_text {
    font-size: 40px;
    margin-top: 4rem;
  }
}
.repair_text span {
  color: #FF8800;
}

.repair_cards {
  background-color: #ffffff;
  border-radius: 39px;
  padding: 45px 45px;
  margin-top: 85px;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.repair_cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 576px) {
  .repair_cards .cards {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  .repair_cards .cards .plus {
    display: none;
  }
}
.repair_cards .repair_tittle_cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  .repair_cards .repair_tittle_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.repair_cards .repair_tittle_cards h5 {
  margin-bottom: 1rem;
  font-size: 32px;
  font-family: "Nunito Sans";
  font-weight: 700;
}
.repair_cards .repair_tittle_cards .btn_repair_card {
  min-width: 18em;
  border-radius: 18px;
  background-color: #FF8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 17px;
  font-weight: 700;
  font-family: "Nunito Sans";
  border: 2px solid black;
}
.repair_cards .repair_tittle_cards .btn_repair_card:hover {
  background-color: #E87E04;
}
.repair_cards .repair_tittle_cards .btn_repair_card svg {
  margin-right: 1rem;
}
.repair_cards .card {
  min-height: 22rem;
  width: 40%;
  background-color: #FF8800;
  border-radius: 29px;
  padding: 30px 20px;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .repair_cards .card {
    width: 100%;
  }
}
.repair_cards .card span {
  text-align: center;
}
.repair_cards .card label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.repair_cards .card .input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.repair_cards .card .input-file svg {
  margin-right: 10px;
}
.repair_cards .card .text_card {
  height: 18rem;
  background: #FF8800;
  border: 1px solid black;
}
.repair_cards #result {
  display: none;
  margin-top: 20px;
}
.repair_cards #ai-response {
  margin-top: 20px;
}
.repair_cards #ai-response p {
  margin-bottom: 1rem;
  font-family: "Nunito Sans";
  font-size: 22px;
}
@media (max-width: 576px) {
  .repair_cards #ai-response p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
}
.choice_text {
  line-height: 1;
  font-size: 65px;
  font-family: "inter";
  margin-top: 8rem;
  color: #ffffff;
}
@media (max-width: 576px) {
  .choice_text {
    font-size: 40px;
    margin-top: 4rem;
  }
}
.choice_text span {
  color: #FF8800;
}

.choice_cards {
  background-color: #ffffff;
  border-radius: 39px;
  padding: 45px 45px;
  margin-top: 85px;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.choice_cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 576px) {
  .choice_cards .cards {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  .choice_cards .cards .plus {
    display: none;
  }
}
.choice_cards .choice_title_cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  .choice_cards .choice_title_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.choice_cards .choice_title_cards h5 {
  margin-bottom: 1rem;
  font-size: 32px;
  font-family: "Nunito Sans";
  font-weight: 700;
}
.choice_cards .choice_title_cards .btn_choice_card {
  min-width: 18em;
  border-radius: 18px;
  background-color: #FF8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 17px;
  font-weight: 700;
  font-family: "Nunito Sans";
  border: 2px solid black;
}
.choice_cards .choice_title_cards .btn_choice_card:hover {
  background-color: #E87E04;
}
.choice_cards .choice_title_cards .btn_choice_card svg {
  margin-right: 1rem;
}
.choice_cards .card {
  min-height: 22rem;
  width: 40%;
  background-color: #FF8800;
  border-radius: 29px;
  padding: 30px 20px;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 576px) {
  .choice_cards .card {
    width: 100%;
  }
}
.choice_cards .card span {
  text-align: center;
}
.choice_cards .card label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choice_cards .card .input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.choice_cards .card .input-file svg {
  margin-right: 10px;
}
.choice_cards .card .text_card {
  height: 18rem;
  background: #FF8800;
  border: 1px solid black;
}

.enter_text {
  line-height: 1;
  font-size: 65px;
  font-family: "inter";
  margin-top: 8rem;
  color: #ffffff;
}
@media (max-width: 576px) {
  .enter_text {
    display: none;
  }
}
.enter_text span {
  color: #FF8800;
}

.enter_cards {
  background-color: #ffffff;
  border-radius: 39px;
  padding: 45px 45px;
  margin-top: 85px;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.enter_cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.enter_cards .enter_tittle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  .enter_cards .enter_tittle {
    margin-bottom: 4em;
  }
}
.enter_cards .enter_tittle p {
  font-size: 18px;
  font-family: "Nunito Sans";
}
@media (max-width: 576px) {
  .enter_cards .enter_tittle p {
    text-align: center;
    font-size: 14px;
  }
}
.enter_cards .enter_tittle p a {
  color: #FF8800;
}
.enter_cards .enter_tittle p a:hover {
  color: #a25600;
}
.enter_cards .enter_tittle h5 {
  margin-bottom: 1rem;
  font-size: 32px;
  font-family: "Nunito Sans";
  font-weight: 700;
}
@media (max-width: 576px) {
  .enter_cards .enter_tittle h5 {
    font-size: 27px;
    margin-bottom: 0.2rem;
  }
}
.enter_cards .enter_tittle .btn_enter_card {
  min-width: 18em;
  border-radius: 18px;
  background-color: #FF8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 17px;
  font-weight: 700;
  font-family: "Nunito Sans";
  border: 2px solid black;
}
.enter_cards .enter_tittle .btn_enter_card svg {
  margin-right: 1rem;
}
.enter_cards .enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enter_cards .enter input {
  padding: 0.5rem 1rem;
  width: 30rem;
  border-radius: 18px;
  font-size: 18px;
}
@media (max-width: 576px) {
  .enter_cards .enter input {
    width: 15rem;
  }
}
.enter_cards .enter .submit {
  border-radius: 18px;
  background-color: #FF8800;
  color: #ffffff;
  border: none;
  padding: 21px 86px;
  margin-bottom: 3rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito Sans";
}
@media (max-width: 576px) {
  .enter_cards .enter .submit {
    font-size: 18px;
    padding: 13px 80px;
  }
}
.enter_cards .enter .submit:hover {
  background-color: #a25600;
}
.enter_cards .enter .enter_enter {
  font-family: "Nunito Sans";
  font-size: 18px;
  margin-bottom: 1rem;
}
@media (max-width: 576px) {
  .enter_cards .enter .enter_enter {
    font-size: 14px;
    margin-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .enter_cards .enter .enter_enter p {
    margin-bottom: 0;
  }
}
.enter_cards .enter .enter_password {
  font-size: 18px;
  margin-bottom: 6rem;
  font-family: "Nunito Sans";
}
@media (max-width: 576px) {
  .enter_cards .enter .enter_password {
    font-size: 14px;
    margin-bottom: 8rem;
  }
}
@media (max-width: 576px) {
  .enter_cards .enter .enter_password p {
    margin-bottom: 0;
  }
}
.enter_cards .enter .enter_password .password {
  position: relative;
}
.enter_cards .enter .enter_password .password-control {
  position: absolute;
  top: 11px;
  right: 1rem;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(/styles/img/eye.svg) 0 0 no-repeat;
}
.enter_cards .enter .enter_password .password-control.view {
  background: url(/styles/img/openEye.svg) 0 0 no-repeat;
}
.enter_cards .enter .enter_submit {
  margin-bottom: 2rem;
}
.enter_cards .enter .line-box {
  font-size: 12px;
  text-align: right;
}
.enter_cards .enter .line-box a {
  color: #090909;
}
.enter_cards .enter_text_end {
  font-size: 12px;
}
@media (max-width: 576px) {
  .enter_cards .enter_text_end {
    font-size: 9px;
    text-align: center;
  }
}
.enter_cards .enter_text_end a {
  color: #FF8800;
}
.enter_cards .enter_text_end a:hover {
  color: #a25600;
}

.registration_text {
  line-height: 1;
  font-size: 65px;
  font-family: "inter";
  margin-top: 8rem;
  color: #ffffff;
}
@media (max-width: 576px) {
  .registration_text {
    display: none;
  }
}
.registration_text span {
  color: #FF8800;
}

.registration_cards {
  background-color: #ffffff;
  border-radius: 39px;
  padding: 45px 45px;
  margin-top: 85px;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.registration_cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.registration_cards .registration_tittle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  .registration_cards .registration_tittle {
    margin-bottom: 2rem;
  }
}
.registration_cards .registration_tittle p {
  font-size: 18px;
  font-family: "Nunito Sans";
}
@media (max-width: 576px) {
  .registration_cards .registration_tittle p {
    text-align: center;
  }
}
.registration_cards .registration_tittle p a {
  color: #FF8800;
}
.registration_cards .registration_tittle p a:hover {
  color: #a25600;
}
.registration_cards .registration_tittle h5 {
  margin-bottom: 1rem;
  font-size: 32px;
  font-family: "Nunito Sans";
  font-weight: 700;
}
@media (max-width: 576px) {
  .registration_cards .registration_tittle h5 {
    text-align: center;
    font-size: 27px;
  }
}
.registration_cards .registration_tittle .btn_enter_card {
  min-width: 18em;
  border-radius: 18px;
  background-color: #FF8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 17px;
  font-weight: 700;
  font-family: "Nunito Sans";
  border: 2px solid black;
}
.registration_cards .registration_tittle .btn_enter_card svg {
  margin-right: 1rem;
}
.registration_cards .registration {
  font-family: "Nunito Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.registration_cards .registration input {
  padding: 0.5rem 1rem;
  width: 30rem;
  border-radius: 18px;
  font-size: 18px;
}
@media (max-width: 576px) {
  .registration_cards .registration input {
    width: 15rem;
  }
}
.registration_cards .registration .submit {
  border-radius: 18px;
  background-color: #FF8800;
  color: #ffffff;
  border: none;
  padding: 21px 86px;
  margin-bottom: 3rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito Sans";
}
@media (max-width: 576px) {
  .registration_cards .registration .submit {
    font-size: 18px;
    padding: 13px 16px;
  }
}
.registration_cards .registration .submit:hover {
  background-color: #a25600;
}
.registration_cards .registration .registration_email {
  font-size: 18px;
}
@media (max-width: 576px) {
  .registration_cards .registration .registration_email {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 576px) {
  .registration_cards .registration .registration_email p {
    margin-bottom: 0;
  }
}
.registration_cards .registration .registration_username {
  font-size: 18px;
  margin-bottom: 4rem;
}
@media (max-width: 576px) {
  .registration_cards .registration .registration_username {
    font-size: 14px;
    margin-bottom: 4rem;
  }
}
@media (max-width: 576px) {
  .registration_cards .registration .registration_username p {
    margin-bottom: 0;
  }
}
.registration_cards .registration .registration_password {
  font-size: 18px;
}
@media (max-width: 576px) {
  .registration_cards .registration .registration_password {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 576px) {
  .registration_cards .registration .registration_password p {
    margin-bottom: 0;
  }
}
.registration_cards .registration .registration_confirm_password {
  font-size: 18px;
  margin-bottom: 6rem;
}
@media (max-width: 576px) {
  .registration_cards .registration .registration_confirm_password {
    font-size: 14px;
    margin-bottom: 4rem;
  }
}
@media (max-width: 576px) {
  .registration_cards .registration .registration_confirm_password p {
    margin-bottom: 0;
  }
}
.registration_cards .registration .password {
  position: relative;
}
.registration_cards .registration .password-control {
  position: absolute;
  top: 11px;
  right: 1rem;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(/styles/img/eye.svg) 0 0 no-repeat;
}
.registration_cards .registration .password-control.view {
  background: url(/styles/img/openEye.svg) 0 0 no-repeat;
}
.registration_cards .registration .registration_submit {
  margin-bottom: 2rem;
}
.registration_cards .registration .line-box {
  font-size: 12px;
  text-align: right;
}
.registration_cards .registration .line-box a {
  color: #090909;
}
.registration_cards .registration_text_end {
  font-size: 12px;
}
@media (max-width: 576px) {
  .registration_cards .registration_text_end {
    font-size: 9px;
    text-align: center;
  }
}
.registration_cards .registration_text_end a {
  color: #FF8800;
}
.registration_cards .registration_text_end a:hover {
  color: #a25600;
}

.container-lg .btn-enter {
  border-radius: 18px;
  background-color: #FF8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 17px;
  font-weight: 700;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}
@media (max-width: 576px) {
  .container-lg .btn-enter {
    font-size: 20px;
  }
}
.container-lg .btn-enter:hover {
  background-color: #E87E04;
}

.header {
  margin-top: 1rem;
}

.main_text {
  line-height: 1;
  font-size: 65px;
  font-family: "inter";
  margin-top: 8rem;
  color: #ffffff;
}
@media (max-width: 576px) {
  .main_text {
    font-size: 40px;
    margin-top: 4rem;
  }
}
.main_text span {
  color: #FF8800;
}

.main_cards {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 576px) {
  .main_cards {
    margin-top: 4rem;
  }
}
.main_cards .card {
  width: 25rem;
  background-color: #ffffff;
  border-radius: 29px;
  padding: 30px 20px;
  margin-bottom: 5rem;
}
.main_cards .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_cards .card .card-body h5 {
  margin-bottom: 1rem;
  font-size: 32px;
  font-family: "Nunito Sans";
  font-weight: 700;
}
@media (max-width: 576px) {
  .main_cards .card .card-body h5 {
    font-size: 27px;
    margin-bottom: 2rem;
  }
}
.main_cards .card .card-body p {
  margin-bottom: 1rem;
  font-family: "Nunito Sans";
  font-size: 22px;
}
@media (max-width: 576px) {
  .main_cards .card .card-body p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
}
.main_cards .card .btn_main_card {
  border-radius: 18px;
  background-color: #FF8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 17px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .main_cards .card .btn_main_card {
    font-size: 20px;
  }
}
.main_cards .card .btn_main_card:hover {
  background-color: #E87E04;
}
.main_cards .card .btn_main_card svg {
  margin-right: 1rem;
}